<div class="row">
    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3" [routerLink]="['/project']" routerLinkActive="router-link-active">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                    <div class="chartjs-size-monitor"
                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[60, 40]"
                        data-colors="[
          &quot;#0dd157&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-success">60</div>
                </div>

                <div class="media-body"  >
                    <h5 class="h6 text-muted text-uppercase mb-2" >
                        Employee leave balances <i class="fa fa-arrow-up text-success ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">10</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3" [routerLink]="['/project']" routerLinkActive="router-link-active">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                    <div class="chartjs-size-monitor"
                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[60, 40]"
                        data-colors="[
          &quot;#0dd157&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-success">60</div>
                </div>

                <div class="media-body"  >
                    <h5 class="h6 text-muted text-uppercase mb-2" >
                        Employee expense claims <i class="fa fa-arrow-up text-success ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">10</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3" [routerLink]="['/project']" routerLinkActive="router-link-active">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                    <div class="chartjs-size-monitor"
                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[60, 40]"
                        data-colors="[
          &quot;#0dd157&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-success">60</div>
                </div>

                <div class="media-body"  >
                    <h5 class="h6 text-muted text-uppercase mb-2" >
                        Projects <i class="fa fa-arrow-up text-success ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">10</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
        <header class="card-header d-md-flex align-items-center">
            <h2 class="h3 card-header-title">Upcoming Birthadays</h2>
            <!-- <ul id="overallIncomeTabsControl" class="nav nav-tabs card-header-tabs ml-md-auto mt-3 mt-md-0">
                 <h2 class="h3 card-header-title align-items-center ">Expenses</h2> 
            </ul> -->
        </header>
        <div class="card-body">
            <div class="tab-content" id="overallIncomeTabs">
                <!-- Tab Content -->
                <div class="tab-pane fade show active" id="overallIncomeTab1" role="tabpanel">
        <div class="col-md-12">
            <!-- Total Income -->
            <div>
                <div class="media align-items-center">
                    <div class="media-body d-flex align-items-baseline">
                        <span class="u-indicator u-indicator--xxs bg-primary mr-2"></span>
                        <h5 class="h6 text-muted text-uppercase mb-1">07/05/1996</h5>
                    </div>
    
                    <div class="d-flex align-items-center h4 text-success">
                        <span>TDS001</span>
                        <span class="small">
                            <i class="fa fa-arrow-up ml-2"></i>
                        </span>
                    </div>
                </div>
                <span class="h3 mb-0">Razik</span>
            </div>
            <!-- End Total Income -->
    
            <hr>
    
            <!-- Total Installs -->
            <div>
                <div class="media align-items-center">
                    <div class="media-body d-flex align-items-baseline">
                        <span class="u-indicator u-indicator--xxs bg-secondary mr-2"></span>
                        <h5 class="h6 text-muted text-uppercase mb-1">05/07/1990</h5>
                    </div>
    
                    <div class="d-flex align-items-center h4 text-success">
                        <span>TDS002</span>
                        <span class="small">
                            <i class="fa fa-arrow-up ml-2"></i>
                        </span>
                    </div>
                </div>
    
                <span class="h3 mb-0">Satheesh</span>
            </div>
            <!-- End Total Installs -->
    
            <hr>
    
            <!-- Active Users -->
            <div>
                <div class="media align-items-center">
                    <div class="media-body d-flex align-items-baseline">
                        <span class="u-indicator u-indicator--xxs bg-info mr-2"></span>
                        <h5 class="h6 text-muted text-uppercase mb-1">12/01/1993</h5>
                    </div>
    
                    <div class="d-flex align-items-center h4 text-danger">
                        <span>TDS003</span>
                        <span class="small">
                            <i class="fa fa-arrow-down ml-2"></i>
                        </span>
                    </div>
                </div>
    
                <span class="h3 mb-0">Karthik</span>
            </div>
            <!-- End Active Users -->
    
            <hr>
            <div>
                <p>List of Holydays</p>
            </div>
            <div>
                <p>Manage Employee Lones</p>
            </div>
    
            <a class="btn btn-block btn-outline-primary" href="#"> More</a>
        </div>
        </div>
        </div>
        </div>
    
        </div>
    
    </div>
</div>