<div class="row">
    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                    <div class="chartjs-size-monitor"
                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[65, 35]"
                        data-colors="[
          &quot;#2972fa&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-info">65</div>
                </div>

                <div class="media-body">
                    <h5 class="h6 text-muted text-uppercase mb-2">
                        Total Employees <i class="fa fa-arrow-up text-success ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">$56,400</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                    <div class="chartjs-size-monitor"
                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[35, 65]"
                        data-colors="[
          &quot;#fab633&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-warning">35</div>
                </div>

                <div class="media-body">
                    <h5 class="h6 text-muted text-uppercase mb-2">
                        Departments <i class="fa fa-arrow-down text-danger ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">$6,700</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                    <div class="chartjs-size-monitor"
                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[60, 40]"
                        data-colors="[
          &quot;#0dd157&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-success">60</div>
                </div>

                <div class="media-body">
                    <h5 class="h6 text-muted text-uppercase mb-2">
                        Projects <i class="fa fa-arrow-up text-success ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">$38,200</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                    <div class="chartjs-size-monitor"
                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[25, 85]"
                        data-colors="[
          &quot;#fb4143&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-danger">25</div>
                </div>

                <div class="media-body">
                    <h5 class="h6 text-muted text-uppercase mb-2">
                        Clients <i class="fa fa-arrow-up text-danger ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">$3,400</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <!-- Card Header -->
    <header class="card-header d-md-flex align-items-center">
        <h2 class="h3 card-header-title">Overall Income</h2>

        <!-- Nav Tabs -->

        <ul id="overallIncomeTabsControl" class="nav nav-tabs card-header-tabs ml-md-auto mt-3 mt-md-0">
            <h2 class="h3 card-header-title align-items-center ">Expenses</h2>
            <!-- <li class="nav-item mr-4">
                <a class="nav-link active" href="#overallIncomeTab1" role="tab" aria-selected="true" data-toggle="tab">
                    <span class="d-none d-md-inline">Last</span>
                    7 days
                </a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" href="#overallIncomeTab2" role="tab" aria-selected="false" data-toggle="tab">
                    <span class="d-none d-md-inline">Last</span>
                    30 days
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#overallIncomeTab3" role="tab" aria-selected="false" data-toggle="tab">
                    <span class="d-none d-md-inline">Last</span>
                    90 days
                </a>
            </li> -->
        </ul>
        <!-- End Nav Tabs -->
    </header>
    <!-- End Card Header -->

    <!-- Card Body -->
    <div class="card-body">
        <div class="tab-content" id="overallIncomeTabs">
            <!-- Tab Content -->
            <div class="tab-pane fade show active" id="overallIncomeTab1" role="tabpanel">
                <div class="row">
                    <!-- Chart -->
                    <div class="col-md-9 mb-4 mb-md-0" style="min-height: 300px;">
                        <div class="pbd_sub_Details">
                            <input id="ctl00_body_rdEarning" type="radio" name="ctl00$body$RegularMenu"  value="rdEarning" [(ngModel)]="rdEarning" (click)="ToggleSpinnerBlock($event.currentTarget.value)">
                            <span id="ctl00_body_lblGross">Gross Salary</span>
                            &nbsp;
                            <input id="ctl00_body_rdDeduction" type="radio" name="ctl00$body$RegularMenu" value="rdDeduction" [(ngModel)]="rdDeduction" (click)="ToggleSpinnerBlock($event.currentTarget.value)">
                            <span id="ctl00_body_lblDed">Deductions</span>
                            &nbsp;
                             <input id="ctl00_body_rdNet" type="radio" name="ctl00$body$RegularMenu" value="rdNet" [(ngModel)]="rdNet" (click)="ToggleSpinnerBlock($event.currentTarget.value)">
                            <span id="ctl00_body_lblNet">Net Salary</span>
                            </div>
                        <!-- <div class="chartjs-size-monitor"
                            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; filterFour(change)="filterFour($event.currentTarget.value);" [(ngModel)]="Fiscus" overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand"
                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div> -->
                        <!-- <canvas class="js-overall-income-chart chartjs-render-monitor" width="755" height="375"
                            style="display: block; height: 300px; width: 604px;"></canvas> -->
                            <!-- <div id="container" ></div> -->
                            <div id="container" ></div>
                            
                    </div>
                    <!-- End Chart -->

                    <div class="col-md-3">
                        <!-- Total Income -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-primary mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Transportation</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-success">
                                    <span>+9.5%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-up ml-2"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="h3 mb-0">$6,400</span>
                        </div>
                        <!-- End Total Income -->

                        <hr>

                        <!-- Total Installs -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-secondary mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Administration</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-success">
                                    <span>+7.5%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-up ml-2"></i>
                                    </span>
                                </div>
                            </div>

                            <span class="h3 mb-0">1,346,600</span>
                        </div>
                        <!-- End Total Installs -->

                        <hr>

                        <!-- Active Users -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-info mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Others</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-danger">
                                    <span>-3.5%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-down ml-2"></i>
                                    </span>
                                </div>
                            </div>

                            <span class="h3 mb-0">896,200</span>
                        </div>
                        <!-- End Active Users -->

                        <hr>

                        <a class="btn btn-block btn-outline-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- End Tab Content -->

            <!-- Tab Content -->
            <div class="tab-pane fade" id="overallIncomeTab2" role="tabpanel">
                <div class="row">
                    <!-- Chart -->
                    <div class="col-md-9 mb-4 mb-md-0" style="min-height: 300px;">
                        <canvas class="js-overall-income-chart chartjs-render-monitor" width="0" height="0"
                            style="display: block; height: 0px; width: 0px;"></canvas>
                    </div>
                    <!-- End Chart -->

                    <div class="col-md-3">
                        <!-- Total Income -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-primary mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Total Income</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-success">
                                    <span>+10.4%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-up ml-2"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="h3 mb-0">$48,650</span>
                        </div>
                        <!-- End Total Income -->

                        <hr>

                        <!-- Total Installs -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-secondary mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Total Installs</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-success">
                                    <span>+7.9%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-up ml-2"></i>
                                    </span>
                                </div>
                            </div>

                            <span class="h3 mb-0">5,169,854</span>
                        </div>
                        <!-- End Total Installs -->

                        <hr>

                        <!-- Active Users -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-info mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Active Users</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-danger">
                                    <span>-2.5%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-down ml-2"></i>
                                    </span>
                                </div>
                            </div>

                            <span class="h3 mb-0">389,545</span>
                        </div>
                        <!-- End Active Users -->

                        <hr>

                        <a class="btn btn-block btn-outline-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- End Tab Content -->

            <!-- Tab Content -->
            <div class="tab-pane fade" id="overallIncomeTab3" role="tabpanel">
                <div class="row">
                    <!-- Chart -->
                    <div class="col-md-9 mb-4 mb-md-0" style="min-height: 300px;">
                        <canvas class="js-overall-income-chart chartjs-render-monitor" width="0" height="0"
                            style="display: block; height: 0px; width: 0px;"></canvas>
                    </div>
                    <!-- End Chart -->

                    <div class="col-md-3">
                        <!-- Total Income -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-primary mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Total Income</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-success">
                                    <span>+12.8%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-up ml-2"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="h3 mb-0">$112,800</span>
                        </div>
                        <!-- End Total Income -->

                        <hr>

                        <!-- Total Installs -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-secondary mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Total Installs</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-success">
                                    <span>+8.1%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-up ml-2"></i>
                                    </span>
                                </div>
                            </div>

                            <span class="h3 mb-0">9,151,304</span>
                        </div>
                        <!-- End Total Installs -->

                        <hr>

                        <!-- Active Users -->
                        <div>
                            <div class="media align-items-center">
                                <div class="media-body d-flex align-items-baseline">
                                    <span class="u-indicator u-indicator--xxs bg-info mr-2"></span>
                                    <h5 class="h6 text-muted text-uppercase mb-1">Active Users</h5>
                                </div>

                                <div class="d-flex align-items-center h4 text-danger">
                                    <span>-1.5%</span>
                                    <span class="small">
                                        <i class="fa fa-arrow-down ml-2"></i>
                                    </span>
                                </div>
                            </div>

                            <span class="h3 mb-0">3252,191</span>
                        </div>
                        <!-- End Active Users -->

                        <hr>

                        <a class="btn btn-block btn-outline-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- End Tab Content -->
        </div>
    </div>
    <!-- End Card Body -->
</div>
<div class="row">
    <div class="pbd_Creports">
        <h3 class="pbd_blueHeader">
            <a href="Reports.aspx" onclick="ToggleSpinnerBlock(true);">Compliance Reports
            </a></h3>
        <span class="pbd_sub_header">
            <span id="ctl00_body_lblComplianceReportMonth">April, 2019</span>
        </span>
        <ul class="pbd_Creports_list">


            <li>
                <span class="cReport_icon_container">
                    <a href="../QBO/Firm/MyFirm.aspx?ActiveTab=TDS&amp;frmdash=db" id="ctl00_body_aMyFirmTDS" onclick="ToggleSpinnerBlock(true)">
                        <span id="ctl00_body_spnTds" class="cReport_icon">TDS
                        </span>
                    </a>
                </span>
                <span class="cReport_file_container">
                    <span class="pbd_pdf_icon">
                        <i class="fa fa-file-excel-o"></i>
                    </span>
                    <span class="pbd_pdf_title">

                        <a id="ctl00_body_lnbTDSReport" class="pbd_pdf_title" href="javascript:__doPostBack('ctl00$body$lnbTDSReport','')">                              
                            TDS Report 
                          
                        </a>
                    </span></span></li>
            <li>
                <span class="cReport_icon_container">
                    <a href="../QBO/Firm/MyFirm.aspx?ActiveTab=PT&amp;frmdash=db" id="ctl00_body_aMyFirmPT" onclick="ToggleSpinnerBlock(true)">
                        <span id="ctl00_body_spnPt" class="cReport_icon">PT </span></a></span><span class="cReport_file_container"><span class="pbd_pdf_icon"><i class="fa fa-file-pdf-o"></i></span><span class="pbd_pdf_title">
                            <a onclick="reportprint();" id="ctl00_body_rpPTMonthlyTrport" class="pbd_pdf_title" href="javascript:__doPostBack('ctl00$body$rpPTMonthlyTrport','')">PT Summary</a><br>

                        </span>
                        </span>
            </li>
            <li>
                <span class="cReport_icon_container">
                    <a href="../QBO/Firm/MyFirm.aspx?ActiveTab=ESI&amp;frmdash=db" id="ctl00_body_aMyfirmESI" onclick="ToggleSpinnerBlock(true)">
                        <span id="ctl00_body_spnEsi" class="cReport_icon">ESI </span></a></span><span class="cReport_file_container"><span class="pbd_pdf_icon"><i class="fa fa-file-excel-o"></i></span><span class="pbd_pdf_title">
                            <a id="ctl00_body_lnkESIReport" class="pbd_pdf_title" href="javascript:__doPostBack('ctl00$body$lnkESIReport','')">
                                Monthly Return 
                           
                            </a>
                        </span></span></li>
            <li>
                <span class="cReport_icon_container">
                    <a href="../QBO/Firm/MyFirm.aspx?ActiveTab=PF&amp;frmdash=db" id="ctl00_body_aMyFirmPF" onclick="ToggleSpinnerBlock(true)">
                        <span id="ctl00_body_spnPf" class="cReport_icon">PF </span></a></span><span class="cReport_file_container"><span class="pbd_pdf_icon"><i class="fa fa-file-excel-o"></i></span><span class="pbd_pdf_title">
                            <a id="ctl00_body_lnkPFReport" class="pbd_pdf_title" href="javascript:__doPostBack('ctl00$body$lnkPFReport','')">
                                PF Report 
                           
                            </a>
                        </span></span></li>
        </ul>
    </div>
</div>
