<div class="row">
    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[65, 35]" data-colors="[
          &quot;#2972fa&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-info">65</div>
                </div>

                <div class="media-body">
                    <h5 class="h6 text-muted text-uppercase mb-2">
                        Total Sales <i class="fa fa-arrow-up text-success ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">$56,400</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[35, 65]" data-colors="[
          &quot;#fab633&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-warning">35</div>
                </div>

                <div class="media-body">
                    <h5 class="h6 text-muted text-uppercase mb-2">
                        Spendings <i class="fa fa-arrow-down text-danger ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">$6,700</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[60, 40]" data-colors="[
          &quot;#0dd157&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-success">60</div>
                </div>

                <div class="media-body">
                    <h5 class="h6 text-muted text-uppercase mb-2">
                        Income <i class="fa fa-arrow-up text-success ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">$38,200</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <div class="card-body media align-items-center px-xl-3">
                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas class="js-doughnut-chart chartjs-render-monitor" width="70" height="70" data-set="[25, 85]" data-colors="[
          &quot;#fb4143&quot;,
                              &quot;#f6f9fc&quot;
                            ]" style="display: block;"></canvas>

                    <div class="u-doughnut__label text-danger">25</div>
                </div>

                <div class="media-body">
                    <h5 class="h6 text-muted text-uppercase mb-2">
                        Cancels <i class="fa fa-arrow-up text-danger ml-1"></i>
                    </h5>
                    <span class="h2 mb-0">$3,400</span>
                </div>
            </div>
        </div>
    </div>
</div>
